<br>

<%=@user.first_name %> Please find all of your dates below:

<br>
<br>   

<% @dates.each do |date| %>
    <a href="/dates/<%=date.id%>"><%=date.date%></a>
    <br>
    <br>
    <% end %>

<br>
    Missing a date? <a href="/dates/new">Click here</a> to create a new one<br>
<br>
