<%=@user.first_name %> Please find all of your dates below

<br>
<br>

    <form action="/dates/new" method="get">
        <button type="submit">Missing a date? Click here to create a new one</button>
    </form>


<br>
<br>   

<% @dates.each do |date| %>
    <a href="/dates/<%=date.id%>"><%=date.date%></a>
    <br>
    <br>
    <% end %>

