<h1>This is gdcs/new</h1>
<h1>please create a new goal below</h2>

<form action="/gdcs" method="post">

    <label for="goal_id">goal_id (to be auto later):</label>
    <input type="text" name="gdc[goal_id]" value=""><br>
    
    <label for="date_card_id">date_card_id (to be auto later):</label>
    <input type="text" name="gdc[date_card_id]" value=""><br>
    
    <label for="binary_completed">if binary goal, present yes no for completion:</label>
    <input type="text" name="gdc[binary_completed]" value=""><br>

    <label for="qty_completed">quantity completed:</label>
    <input type="text" name="gdc[qty_completed]" value=""><br>

    <input type="submit" value="update this goal">
</form>