<h2>Login</h2>

<form action="/login" method="post">
    <input type="text" name="username" value="">
    <input type="password" name="password" value="">
    <button type="submit" name="button">Click to sign up!</button>
</form>

