<% if session[:user_id] %>
<h2>Hey, you are already logged in!</h2>

<a href="/logout">Click here to logout.<a/>

<% else %>

<h1>Welcome to Report Card</h2>
<h2>Please sign up below:</h2>

<form action="/signup" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" name="user[first_name]" value=""><br>
    
    <label for="username">Username:</label>
    <input type="text" name="user[username]" value=""><br>
    
    <label for="password">Password:</label>
    <input type="password" name="user[password]" value=""><br>

    <input type="submit" value="Sign Up">
</form>
<br>
Already signed up yet? Click <a href="/login">here</a> to sign in.<br>

<% end %>