<h1>THIS IS USERS.NEW, THIS WILL BE REMOVED ONCE VALIDATIONS PASS TO KEEP SIGNUPS THROUGH CONTROLLED PROCESS VIA SESSIONS CONTROLLER</h1>
<h1>Welcome to Report Card</h2>
<h2>Please sign up below:</h2>

<form action="/users" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" name="user[first_name]" value=""><br>
    
    <label for="username">Username:</label>
    <input type="text" name="user[username]" value=""><br>
    
    <label for="password">Password:</label>
    <input type="password" name="user[password]" value=""><br>

    <input type="submit" value="Sign Up">
</form>
