hello world
<a href="https://www.google.com" target="_blank">Visit W3Schools!</a>
<a href="https://www.google.com/" target="_blank"> Google </a>
<br>
<a href="http://192.168.0.17/5/on" target="_blank"> box lock </a>
<br>
<a href="http://192.168.0.17/5/off" target="_blank"> box open </a>