<h1>Hello <%= @user.first_name %>. Select report parameters below</h1>

<form action="/reports" method="post">
    Please note, you must have dates created for each day selected.<br><br>
    <label for="date">report end date date:</label>
    <input type="date" id="date" name="date"><br>
    <label for="[num_days]">Please enter the # of previous days to be generated:</label>
    <input type="text" name="[num_days]" value=""><br>

    <br>
    <input type="submit" value="  generate report card  ">
</form>
